[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
taipy = {git = "https://git@github.com/avaiga/taipy.git@develop"}
statsmodels = ">=0.13"
scikit-learn = "*"

[dev-packages]
pytest = "*"
flask_testing = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
